NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=annespeacecenter@gmail.com,anneshaven.chicago@gmail.com,hsq0503@gmail.com
NEXT_PUBLIC_SITE_URL=https://www.anneshaven.net

RESEND_API_KEY=
RESEND_FROM=Anne's Haven <hello@anneshaven.net>

MAILCHIMP_API=
MAILCHIMP_AUDIENCE=
